{% extends 'base.html.twig' %}

{% block title %}Auth{% endblock %}

{% block body %}

{% if not user.id %}
    
<div class="d-flex align-items-center">
    <div class="container-sm">
        <form action="/auth" method="POST">
            <legend>Sing in (no registartion needed.)</legend>
            <div class="mb-3">
                <label for="loginInput" class="form-label">Login</label>
                <input name="login" type="text" class="form-control" id="loginInput" 
                    value="{{user.login}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" id="exampleInputPassword1"
                    class="form-control {% if user.error %}is-invalid{% endif %}">
                <div id="validation" class="invalid-feedback">
                    {% if user.error %}{{user.error}}{% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endif %}


{% if user.id %}

<h4>{{user.login}} вы успешно авторизованы на сайте!</h4>
    
{% endif %}

{% endblock %}